
/*
100vh means 100% of the viewport height
*/
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Z-index allows for you to overlap elements over others --> making the clock hand a higher z-index will allow it to go over the Rolex logo instead of other
*/
img {
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  top: 40px;
  z-index: 2;

}

.clock {
  position: relative;
  background-color: lightgray;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 5px solid darkgray;
  box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

.numbers div {
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  color: lightgoldenrodyellow;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.twelve{
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

/* Spaces matters --> 6 px and 6px are completely different */
.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);

}

.arrows {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.arrows::before{
  content: "";
  width: 13px;
  height: 13px;
  background-color: darkgreen;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  z-index: 6;
}

/* elements are invisible until you give them a height and width 
border radius changes from straight up rectangle to curved
*/ 
.arrows div {
  background-color: white;
  width: 7px;
  position: absolute;
  height: 120px;
  transform-origin: bottom;
  bottom: 50%;
  z-index: 4;
  border-radius: 50% 50% 0 0;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

/* don't need transform rotate */
.arrows .hour {
  height: 80px;
  z-index: 3;
}

.arrows .minute {
  z-index: 2;
}


/* Issue arose with targetting color of hands, .second should be as .arrows .second 
Need to target specifically to override
*/
.arrows .second {
  background-color: red;
  width: 2px;
  z-index: 5;
}
